<?xml version="1.0" encoding="utf-8"?>
<config>
	<params>
		<param name="confirm_email" type="radio" default="1" label="Send confirm email" description="SEND_CONFIRM_MAIL">
			<option value="0">No confirmation</option>
			<option value="1">Unsubscription confirmation</option>
		</param>
		<param name="@spacer" type="spacer" default="" label="" description="" />
		<param name="confirm_email_bcc_to_admin" type="radio" default="1" label="Send confirm email as BCC to admin" description="SEND_BCC_CONFIRM_MAIL_TO_ADMIN">
			<option value="0">No CCI</option>
			<option value="1">CCI to admin</option>
		</param>
	</params>
</config>
